%h1 Listing backups

%table
  %tr
    %th Name
    %th Description
    %th User
    %th
    %th
    %th

  - @backups.each do |backup|
    %tr
      %td= backup.name
      %td= backup.description
      %td= backup.user_id
      %td= link_to 'Show', backup
      %td= link_to 'Edit', edit_backup_path(backup)
      %td= link_to 'Destroy', backup, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Backup', new_backup_path
